/* body{
    background-image: url(../images/bg1.png);
} */

body{
    background: url(../images/bgcat.jpg) no-repeat fixed;
    background-size: cover;
}

h1{
    color: aliceblue;
    text-align: center;
    border: 3px solid red;
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 300px;
}



